.header{

    width: 100%;
    background-color: #2D3047;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    height: 80px;
    justify-content: space-between;
    padding: 0 10px;
    color: white;
    flex-wrap: wrap; /* Add this line to allow items to wrap to a new row */
}

.nav-bar{
    margin-top: 15px;
    margin-right: 0;
    padding-right: 0;
    top: 0;
    right: 0;
}
.nav-bar ul{

    display: flex;
    list-style-type: none;
}
.nav-bar ul li a{
    display: block;
    text-decoration: none;
    padding: 10px 25px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}
#logo{
    width: 100%;
    height: auto;

}
.logo{
    margin-right: 0px;
    cursor: pointer;
    font-size: 1.5rem;
}

.logo p {
    display: inline;
    color: #d2ce17;
}
.lights{
    color: white;
}

.out{
    color: #d2ce17;
}
.logo:hover .lights{
    color: #d2ce17;
}
.logo:hover .out{
    color: white;
}
a{
    color: white;
}
a:hover{
    color: #d2ce17;
}
hr{
    color: white;
    width: 95vw;
    margin: 0 auto;
    display: block;
}
@media (max-width: 560px){
    .nav-bar ul li a{
        font-size: 12px;
        margin-left: 3px;
        margin-right: 3px;
    }
    .logo{
        font-size: 16px;
        margin-left: 3px;
        margin-right: 3px;
    }
}
