<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1>
            <span class="lights">Lights</span>
            <span class="out"> Out</span>
        </h1>
        <p>Lights Out is a puzzle game consisting of a grid of lights that are either on or off. The player can click on a light to toggle it and its adjacent lights. The goal of the game is to turn all the lights on.</p>
        <hr>
        <p>In this version the player can create his own problems, and can choose a grid anywhere from 3x3 to 8x8.</p>
        <hr>
        <button class="btn" routerLink="/problems">Play game</button>
    </div>
    <div class="col-md-3"></div>
</div>

